@import "helpers"

.op-breadcrumbs
  .op-breadcrumb-items
    margin-left: 0
  .op-breadcrumb-item
    display: inline-block
    list-style: none
    margin-left: 0
    &:after
      border-right: 0.1em solid var(--borderColor-neutral-emphasis)
      content: ""
      display: inline-block
      height: 0.8em
      margin: 0 0.5em
      transform: rotate(15deg) translateY(0.0625em)
    &:last-child:after
      content: none
    &.active
      font-weight: bold

  @media (max-width: $breakpoint-sm)
    .op-breadcrumb-mobile
      display: flex
      align-items: center

    .op-breadcrumb-back
      display: flex
      align-items: center
      text-decoration: none
      color: var(--fgColor-muted)
      gap: 0.5rem
