<div class="op-breadcrumbs">
  <!-- Desktop Version -->
  <nav aria-label="breadcrumb" class="desktop">
    <ol class="breadcrumb">
      <li
        class="breadcrumb-item"
        data-test-selector="breadcrumb-item"
        *ngFor="let item of items; let last = last"
        [class.active]="last"
        [attr.aria-current]="last ? 'page' : null"
      >
        <ng-container *ngIf="!last">
          <ng-container *ngIf="isLink(item); else plainText">
            <a [href]="item.href">{{ item.text }}</a>
          </ng-container>
          <ng-template #plainText>
            <span>{{ item }}</span>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="last">
          <span>{{ isLink(item) ? item.text : item }}</span>
        </ng-container>
      </li>
    </ol>
  </nav>

  <!-- Mobile Version -->
  <nav aria-label="breadcrumb" class="mobile">
    <div class="breadcrumb-mobile" *ngIf="items.length > 1">
      <ng-container *ngIf="getHref(items[items.length - 2]) as href">
        <a class="breadcrumb-back" [href]="href">
          <svg arrow-left-icon size="small"></svg>
          {{ getText(items[items.length - 2]) }}
        </a>
      </ng-container>
    </div>
  </nav>
</div>

