@import "helpers"

.op-breadcrumbs
  ol
    margin-left: 0
  .breadcrumb-item
    margin-left: 0

  .mobile
    display: none

  @media (max-width: $breakpoint-sm)
    .desktop
      display: none
    .mobile
      display: block

    .breadcrumb-mobile
      display: flex
      align-items: center

    .breadcrumb-back
      display: flex
      align-items: center
      text-decoration: none
      color: var(--fgColor-muted)
      gap: 0.5rem
