@import 'helpers'

.outcome-container
  background-color: var(--grid-background-color)

.op-meeting-outcome-notes
  display: grid
  grid-template-columns: auto fit-content(40px)
  grid-template-areas: "title actions" "content ."




