@import 'helpers'

.op-portfolio-overview
  display: grid
  grid-template-areas: "kpi kpi" "subportfolio subportfolio" "budget problems"
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto auto auto
