@media screen and (min-width: $breakpoint-sm)
  .wp-datepicker-dialog
    &--body
      // We set a fixed height for this dialog zo avoid that it jumps around when the tabs are switched or errors shown
      min-height: 555px
      width: 600px

@media screen and (max-width: $breakpoint-sm)
  .wp-datepicker-dialog
    &--UnderlineNav
      display: none !important

    &--body
      min-height: unset
      width: auto

    &--form-block
      flex-direction: column !important
      align-items: flex-start !important
      row-gap: 1rem
