<div class="autocomplete-select-decoration--wrapper" hidden>
  <%= angular_component_tag(
        'opce-select-decoration',
        inputs: inputs.merge(
          options: select_options,
        )
      ) %>
  <!-- Mapped values are being input as hidden fields here -->
</div>
