<input
  type="text"
  class="spot-input"
  (click)="onInputClick($event)"
  [value]="dates"
  (focus)="showDatePickerModal()"
/>

<turbo-frame *ngIf="turboFrameSrc && opened"
             [src]="turboFrameSrc"
             opModalWithTurboContent
             [change]="change"
             [resource]="resource"
             (successfulCreate)="handleSuccessfulCreate($event)"
             (successfulUpdate)="handleSuccessfulUpdate()"
             (cancel)="cancel()"
             id="wp-datepicker-dialog--frame">
</turbo-frame>
