<input
  class="inline-edit--field op-input"
  [ngModel]="formattedValue"
  (click)="onInputClick($event)"
  (focus)="showDatePickerModal()"
  [id]="handler.htmlId"
/>

<turbo-frame *ngIf="turboFrameSrc && opened"
             [src]="turboFrameSrc"
             opModalWithTurboContent
             [change]="change"
             [resource]="resource"
             (successfulCreate)="handleSuccessfulCreate($event)"
             (successfulUpdate)="handleSuccessfulUpdate()"
             (cancel)="cancel()"
             id="wp-datepicker-dialog--frame">
</turbo-frame>
