.op-logo
  width: 130px
  height: var(--header-height)
  margin: 0 0.5rem

  &--link
    margin-top: 16px
    width: 100%
    display: block
    height: 24px
    text-indent: -9999em
    background: no-repeat center
    background-size: contain

  @media screen and (max-width: 850px)
    display: none

  &-icon, &-icon_white
    display: none
    @media screen and (max-width: 850px)
      margin: 16px 8px 0 8px
      display: block
      height: 24px
      width: 24px
      padding: 0 8px
      background-repeat: no-repeat
      background-position: left center
      background-size: contain
